* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI Semibold', sans-serif; }

[data-menu="top-menu"] {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f2ad8e; }

div.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px; }

div.infobox {
  display: inherit;
  align-items: center;
  gap: 15px; }

[data-menu="menu"] {
  height: 30px;
  background: #2b6348; }
  [data-menu="menu"] ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px; }
    [data-menu="menu"] ul li {
      list-style-type: none; }
      [data-menu="menu"] ul li a {
        text-decoration: none;
        color: white; }

section.home {
  height: 70vh;
  background: url(../img/background-home.jpg);
  background-position: center; }

div.home-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }
  div.home-info h1 {
    font-size: 20em;
    color: #fcf4e9af; }

.apmir-card {
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: -3.5vh; }
  .apmir-card .card {
    cursor: pointer;
    display: flex;
    gap: 10px;
    padding: 25px 15px;
    border-radius: 10px;
    background-color: #f2ad8e; }

section.welcome {
  height: auto;
  padding: 7em 0;
  background: #733e2c;
  text-align: center;
  color: #fcf4e9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  section.welcome h1 {
    text-transform: uppercase;
    padding-bottom: 20px; }
  section.welcome p {
    max-width: 800px;
    font-size: 18px;
    padding-bottom: 15px; }

div.equipe {
  margin: 30px 0 0 0;
  width: 80em;
  height: 22em;
  border-radius: 3em;
  background: url(../img/equipemedica.jpg);
  background-position: center;
  box-shadow: 0px 15px 20px #00000085; }


  /*
  style do menu - grupo 2
  */

section#img-menu {
  background-color: #fcf4e9;
}

section#img-menu h1 {
  color: rgb(34, 34, 34);
  margin-bottom: 80px;
}

div.menu {
  width: 50%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/*cards*/
div.menu div.card-box {
  margin: 10px auto;
  width: 80%;
  height: 90%;
  font-size: 20px;
  background-color: black;
}

div.menu div.card-box:nth-child(1){
  background-image: url(../img/nene-mae.png);
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 50% 0px 0px 0px;
  margin-left: 50px;
}
div.menu div.card-box:nth-child(2){
  background-image: url(../img/gestante.jpg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  margin-right: 50px;
  border-radius: 0px 50% 0px 0px;
}
div.menu div.card-box:nth-child(3){
  background-image: url(../img/barriga.png);
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 0px 0px 0px 50%;
  margin-left: 50px;
}
div.menu div.card-box:nth-child(4){
  background-image: url(../img/nene.jpg);
  background-size: cover;
  background-position: 50% 50%;
  margin-right: 50px;
  border-radius: 0px 0px 50% 0px;
}

div.menu div.card-box a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50%;
  width: 50%;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

div.menu div.card-box:hover {
  width: 81%;
  box-shadow: 4px 3px 3px 3px rgba(0, 0, 0, 0.774);
  font-size: 21px;
  opacity: 0.6;
}

div.menu div.card-box a:hover {
  text-decoration: underline;
  color: rgb(34, 34, 34);
}

button#mais-servicos {
  border: 1px solid rgb(168, 0, 168);
  background-color: #fff;
  width: 10%;
  height: 3em;
}

button#mais-servicos:hover {
  background-color: rgb(233, 232, 232);
  width: 11%;
  border: none;
  border-bottom: 1px solid rgb(168, 0, 168);
}